
.container{
    background-color: darkslategrey;
    width: 350px;
    height: 250px;
}
.delim{
    position: absolute;
    top: 239px;
    left: 319px;
    color: white;
    background-color: antiquewhite;
}

.slidetimerMin{
    position: absolute;
    top: 239px;
    left: 283px;
    color: lawngreen;
    background-color: black;
}

.slidetimerSec{
    position: absolute;
    top: 239px;
    left: 302px;
    color: lawngreen;
    background-color: black;
}

.showtimerMin{
    position: absolute;
    top: 239px;
    left: 322px;
    color: greenyellow;
    background-color: black;
}

.showtimerSec{
    position: absolute;
    top: 239px;
    left: 340px;
    color: greenyellow;
    background-color: black;
}

.tdel1{
    position: absolute;
    top: 239px;
    left: 338px;
    color: greenyellow;
    background-color: black;
}

.tdel2{
    position: absolute;
    top: 239px;
    left: 299px;
    color: greenyellow;
    background-color: black;
}


.play{
    position: absolute;
    height: 10px;
    width: 40px;
    top: 247px;
    left: 8px;
    border-color: darkgreen;
    background-color: green;
    color: black;
}

.stop{
    position: absolute;
    height: 10px;
    width: 40px;
    top: 247px;
    left: 86px;
    border-color: darkred;
    background-color: red;
    color: black;
}

.pause{
    height: 10px;
    width: 40px;
    position: absolute;
    top: 247px;
    left: 48px;
    border-color: goldenrod;
    background-color: yellow;
    color: black;
}

.loop{
    position: absolute;
    top: 214px;
    left: 330px;
    background-color: cadetblue;
    color: darkblue;
    width: 25px;
    height: 25px;
}

.loopon{
    position: absolute;
    top: 214px;
    left: 330px;
    background-color: blue;
    color: darkblue;
    width: 25px;
    height: 25px;
    border-color:deepskyblue;
    border-width: 4px;
}